body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px; /* Menyesuaikan lebar konten agar lebih lebar */
    margin: 0 auto;
    padding: 0 20px; /* Memberi ruang padding di sisi kanan dan kiri */
}

.section {
    padding: 40px 0;
}

.box-login {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Menyesuaikan lebar maksimum konten */
    margin: 15px auto; /* Mengatur margin secara otomatis agar berada di tengah dan memberikan jarak di atas dan bawah */
}

.box-login h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.input-control {
    width: 100%; /* Mengisi lebar input dengan lebar konten */
    padding: 14px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    background-color: rgba(241, 240, 240, 1);
    box-sizing: border-box;
    position: relative; /* Penyesuaian posisi absolut ikon */
}

.input-control .icon {
    position: absolute;
    left: 10px; /* Mengatur posisi ikon agar terlihat lebih baik */
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.btn {
    width: 100%; /* Mengisi lebar tombol dengan lebar konten */
    padding: 10px; /* Mengurangi padding tombol */
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(0, 194, 177, 1) 0%, rgba(0, 147, 162, 1) 50%, rgba(0, 94, 145, 1) 100%);
    color: #fff;
    font-size: 1em; /* Mengurangi ukuran font tombol */
    cursor: pointer;
    transition: background 0.3s ease;
    box-sizing: border-box;
}

.btn:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.205), rgba(255, 255, 255, 0.248)), linear-gradient(90deg, rgba(0, 194, 177, 1) 0%, rgba(0, 147, 162, 1) 50%, rgba(0, 94, 145, 1) 100%);
}

.footer {
    text-align: center;
    margin-top: 20px; /* Menambah margin-top agar footer lebih dekat dengan konten */
}

.footer small {
    color: #555;
}

/* CSS untuk header */
header {
    background: linear-gradient(90deg, rgba(0, 194, 177, 1) 0%, rgba(0, 147, 162, 1) 50%, rgba(0, 94, 145, 1) 100%);
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li:last-child {
    margin-right: 0;
}

/* Menambahkan warna putih untuk teks navigasi */
header ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

.box {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

footer {
    background: linear-gradient(90deg, rgba(0, 194, 177, 1) 0%, rgba(0, 147, 162, 1) 50%, rgba(0, 94, 145, 1) 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
